*{
    margin: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: rgb(2, 62, 80);
    font-size: 50px;
    text-shadow: 2px 2px;
    text-shadow: rgba(0, 0, 0, 0.199);
    
}

#header-border {
    border-width: 10px;
    border-color: white;
    border-style: outset;
    background-color: azure;
  }

  #container-border{
    border-width: 10px;
    border-color: whitesmoke;
    border-style: inset;
    background-color: azure;
  }

  #container__play--border{
        margin-top: 50px;
        margin-bottom: 50px;
        border-width: 2.5px;
        border-color: rgb(2, 62, 80);
        border-radius: 15px;
        border-style: solid;
        background-color: azure;
        
  }

main{
    color: rgb(2, 62, 80);
}

#playerAnswer{
    background-color: rgb(2, 62, 80);
    color: azure;
    font-size: medium;
    width: 350px;
    text-align-last: center;
}

#singlePlayerResult{
    border-radius: 15px;
    border: 2px solid;
    border-color: rgb(2, 62, 80);
}
#container__play__submitDiv{
    border-radius: 15px;
}

body{
    background-color: rgb(2, 62, 80);
    text-align: center;
    
}

#btnsCon__p1Btn{
    text-align: left;
    border-radius: 25px;
    font-size: small;
}

footer{
    color:azure;
    font-size: 10px;
    text-align: right; 
    text-decoration: overline;   
}


  